@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-unbounded: "Unbounded", sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --animate-scroll: scroll 30s linear infinite;

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
}

@utility bg-grid-pattern {
  background-size: 60px 60px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}
